

.header {
    background-image: url(../img/Riding.png);
    opacity: 0.8;
    background-size: cover;
    min-height: 700px;
   
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    
}

#navbarsupportedcontent{
    display: flex;
    margin-right: auto;
}

.row{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: white;
    font-size: 20px;
  
}

.forms{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 60px;
    background-color: rgb(110, 110, 110);

}
.areamain{
    background-color: grey;
    padding: 30px;
    width: 100%;
    height: 70vh;
    
}
.section4{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
}

.main{
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    padding: 50px;
    background-color: rgb(56, 56, 56);
} 
.mainarea{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.section2{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin:0 10px 50px 10px ;
    font-size: 20px;
}
.footer{
    background-color: grey;
    color: white;
    margin-top: 10px;
    padding: 30px ;
    justify-content: center;
    align-items: center;
}